<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!--依赖注入-->
    <!--scope属性1：singleton（单例）（默认）-->
    <!--scope属性2：prototype（多例）-->
    <!--lazy-init:是否为懒加载-->
    <!--给属性赋值的方式1：constructor-arg：通过构造函数注入。-->
    <!--给属性赋值的方式2：property：通过set对应的方法注入。-->
    <!--init-method="初始化方法"-->
    <!--destroy-method="销毁方法"-->
    <!--<bean id="user" class="com.fa.spring.bean.User" init-method="init" destroy-method="destroy" autowire="byName">
        <constructor-arg name="id" value="01"/>
        <property name="username" value="admin"></property>
        <property name="password" value="123456"></property>
    </bean>-->

    <!--注解注入-->
    <!--自动扫描该包下的所有类，如果找到1个注解，就会注册bean-->
    <context:component-scan base-package="com.fa.spring"/>
</beans>